/*html{
	margin: 0%;
	width: 100%;
}*/

h1{
	font-weight: bold;
}

.images{
	width: 100%;
	position: relative;
	overflow: hidden;
	padding: 0%;
}

img{
	border: 5px solid blue;
	display: inline-block;
	padding: 5%;
	max-width: 50%;
	margin: 0%;
}

.left{
	display: block;
}

.right{
	display: block;
}

body{
	background-image: url("../images/bg.png");
	width: 100%;
}
